.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f2fa;
}

.formRegister {
  background-color: #7f97ad;
  padding: 2rem;
  width: 350px;
  border-radius: 0.2rem;
}

.formRegister h3 {
  margin: 1rem auto;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 1rem auto;
}

.btnRegister {
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 150px;
  background-color: #ffd082;
}

.btnRegister:hover {
  cursor: pointer;
  color: #fff;
  background-color: #ffa71a;
}

.btnFormRegister {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnFormRegister a {
    color: #000;
}
.btnFormRegister a:hover {
    color: #fff;
}
